streamlit==1.37.0
pandas==2.1.4
base58==2.0.1
numpy==1.26.4
pillow==10.4.0
plotly==5.23.0
scikit-learn==1.4.2
lazypredict==0.2.12
seaborn==0.11.1
matplotlib==3.3.3
xgboost==2.1.1
lightgbm==2.3.1
pytest==5.4.3
tqdm==4.56.0
